<aside class="about-me">
	
	<div class="large-9">
	A front-end designer/developer with a love for UX/UI design, and a passion for data and information visualization. (oh, in a previous life, was also a photojournalist by trade.) Love to learn about all things related to usable design and information visualization.
	</div>
</aside>