    <footer>
        <div class="row author">
            {{> author}}
        </div>
        <div class="row disclaimer">
             <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon icon-ghost" href="https://ghost.org">Ghost</a> &bull; <a href="https://github.com/cherihung/islay">Theme Islay 1.0.0</a></section>
        </div>
    </footer>
