<nav class="tab-bar mobi">
    <section class="right tab-bar-section">
            <h1 class="title"></h1>
    </section>
    <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
</nav>

<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label>Social Links</label></li>
       <li><a href="https://twitter.com/cyhung">Twitter</a></li>
       <li><a href="https://plus.google.com/u/0/+ChienyiCheriHung/posts">Google+</a>
       <li><a href="https://github.com/cherihung">Github</a></li>
       <li><a href="http://www.linkedin.com/in/cyhung/">LinkedIn</a></li>
       <li><a href="{{@blog.url}}/rss/">RSS</a></li>
    </ul>
</aside>