<nav role="navigation" class="site-pagination">
<ul class="pagination small-centered large-7">
    {{#if next}} 
        	<li class="arrow"><a href="{{page_url next}}">&raquo;</a></li>
    {{/if}}
    <li class="pages">PAGE {{page}} / {{pages}}</li>
    {{#if prev}}
    		<li class="arrow"><a href="{{page_url prev}}">&laquo;</a>
    {{/if}}
</ul>
</nav>