<header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        {{> post-meta}}
        <section class="post-excerpt">
            <p>{{!excerpt words="80"}}{{content}}</p>
        </section>