<section class="post-meta">
            <time datetime="{{date format='MM-DD-YYYY'}}">{{date format="MM.DD.YYYY"}}</time>
            <span class="label secondary tag">{{tags}}</span>
        </section>