// Theme Islay for Ghost - style setting & functions
// Author: Chienyi Cheri Hung @cyhung

@import "functions/init";

$black: #0f0f0f;
$white: #fcfcfc;
$sweetRed: #f04124;
$warmRed: #d35a26;
$warmGreen: #43AC6A;
$sweetGreen: #78c063;
$aquaBlue: #008CBA;
$paleBlue: #a0d3e8;
$tangerine: #fc942d;
$paleYellow: #feffc9;

$palettes: (
  shades: (
    darkGray: lighten($black, 5%),
    mildGray: lighten($black, 30%),
    gray: lighten($black, 45%),
    lightGray: lighten($black, 85%)
  ),
  links: (
    default: $black,
    hover: $tangerine,
    footer: lighten($tangerine, 20%),
  ),
  tooltip: (
    color: $black,
    background: darken($tangerine, 5%)
  ),
  pagination: (
    link-active-background: tangerine,
    color: lighten($black, 55%)
  )

);

//color usage definitions
$site-head-background: palette(shades, mildGray);
$site-footer-background: palette(shades, darkGray);
$stripe-base-color: #F2C38B;

//fonts
$body-font-size: 2rem;
$icon-font-location: "../fonts/";

//mixin
@mixin stripe_border($height: 0.8rem) {

    position: absolute;
    content: '';
    height: $height;
    top: 0;
    left: 0;
    right: 0;

}