// Theme Islay for Ghost - style setting & functions
// Author: Chienyi Cheri Hung @cyhung

@import "functions/init";

$black: #0f0f0f;
$white: #fcfcfc;
$sweetRed: #f04124;
$warmRed: #d35a26;
$warmGreen: #43AC6A;
$sweetGreen: #78c063;
$aquaBlue: #008CBA;
$paleBlue: #94c9dd;
$tangerine: #fc942d;
$paleYellow: #feffc9;

//color usage definitions
$palettes: (
  body: (
    bgdColor: $black, //this is only visible as the sidebar, default if there is no Blog Cover
    fontColor: $black  
  ),
  postContent: (
    hr: lighten($black, 85%),
    h3Head: darken($warmGreen, 15%)
  ),
  shades: (
    darkGray: lighten($black, 5%),
    mildGray: lighten($black, 30%),
    gray: lighten($black, 45%),
    lightGray: lighten($black, 85%)
  ),
  links: (
    default: $black,
    hover: $tangerine,
    footer: lighten($tangerine, 20%),
  ),
  tooltip: (
    color: $black,
    background: darken($tangerine, 5%)
  ),
  pagination: (
    link-active-background: tangerine,
    color: lighten($black, 55%)
  ),
  theme: (
    primary: $aquaBlue,
    secondary: $sweetGreen,
    alert: $sweetRed,
    success: $warmGreen,
    warning: $warmRed,
    info: $paleBlue
  ),
  footer: (
    bgdColor: lighten($black, 5%)
  )

);

$stripe-base-color: #F2C38B;

//fonts
$body-font-size: 2rem;
$icon-font-location: "../fonts/";

//mixin
@mixin stripe_border($height: 0.8rem) {

    position: absolute;
    content: '';
    height: $height;
    top: 0;
    left: 0;
    right: 0;

}