// Theme Islay for Ghost - main stylesheet
// Author: Chienyi Cheri Hung @cyhung

@charset "UTF-8";

//my own settings and mixins and such
@import "islay";
//Global Foundation Settings
@import "foundation_settings";
//Foundation styles import, selective
@import "foundation";
//normalize it!
@import "normalize";


/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Tag Archive
    7.  Third Party Elements
    8.  Pagination
    9.  Footer
    10.  Media Queries (Tablet)
    11. Media Queries (Mobile)

 */


/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

@font-face {
  font-family: "cyhghost";
  src:url("#{$icon-font-location}cyhghost.eot");
  src:url("#{$icon-font-location}cyhghost.eot?#iefix") format("embedded-opentype"),
    url("#{$icon-font-location}cyhghost.woff") format("woff"),
    url("#{$icon-font-location}cyhghost.ttf") format("truetype"),
    url("#{$icon-font-location}cyhghost.svg#cyhghost") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cyhghost" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "a";
}
.icon-facebook:before {
  content: "b";
}
.icon-ghost:before {
  content: "c";
}
.icon-github:before {
  content: "d";
}
.icon-googleplus:before {
  content: "e";
}
.icon-twitter:before {
  content: "f";
}
.icon-feed:before {
  content: "g";
}
.icon-linkedin:before {
  content: "h";
}

/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-size: $body-font-size;
    line-height: 1.6em;
    background: url('../images/color-barrels.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:before {
        @include stripe_border();

        $stops: 10%, 18%, 29%, 34%, 55%, 73%, 85%, 100%;
        background-image: create_stripes($stripe-base-color, $stops, to right);
     
    }

}

a {
    color: $link-color;
    transition: color ease 0.2s;

    &:hover {
    color: $link-hover-color;
    text-decoration: none;
    }
} //a

mark {
    background-color: #ffc336;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}



/* ==========================================================================
   3. Utilities 
   ========================================================================== */

/* Centres vertically yo. (IE8+) */
.vertical {
    display: table-cell;
    vertical-align: middle;
}

// HELPER CLASSES
.cf {
display:inline-block;
overflow:hidden;
*zoom: 1; /** for IE6/7 only **/
   
   &:before, &:after {
     content: " "; 
    display: table;
    visibility:hidden 
   }
   
   &:after {
    clear: both;
   }

} //.fix

.clear {
clear:both;
}
.right {
float:right;
}
.left {
float:left;
}
.affixed {
  position: fixed;
}
/*
 * Visibility helper classes, adpated from h5bp.com/u
 */
//hide visually from browsers and screenreaders
.hidden {
    display: none !important;
    visibility: hidden;

}
//show for all devices
.show {
  display: block;
  visibility: visible;
}
//hide in browser, but visible for screenreaders
.browserhide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.browserhide.focusable:active,
.browserhide.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
//hide visually from all. but keep element to maintain layout
.invisible {
    visibility: hidden;
}
.inline {
  display: inline;
}

//reset Foundation default. otherwise, the icon fonts appear to be jagged
.off-canvas-wrap, .inner-wrap {
        -webkit-backface-visibility: visible;
}


/*
 * image reaplcement helper class, adpated from h5bp.com/u
 */ 
.imgreplace {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.imgreplace:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.desktop {
    @extend .show-for-large-up;
}
.mobi {
    @extend .hide-for-large-up;
}

/* CSS tooltip */
.tooltip {
    opacity:0;
    display: none;
    padding: 4px 8px 5px 8px;
    text-align: left;
    color: $black;
    line-height: 1.1em;
    background: darken($link-hover-color,5%);
    border-radius:10px;
    transition: opacity 0.3s ease, top 0.3s ease;
    //max-width: 150px;

    //position of the tooltip, below component
    &.below {
        margin: 2.5em 0 0 -3em;
    }
    &.above {
        margin: -2.5em 0 0 -3em;   
    }
} //.tooltip

/* On hover, show the tooltip! */
.icon:hover .tooltip {
    opacity: 1;
    display: inline-block;
    position: absolute;
}

.button-arrow-up {
  @include button($button-sml, $gray);
}


/* ==========================================================================
   4. General - The main styles for the the theme
========================================================================== */

.blog-logo {

    .logo {
        display: inline-block;
        text-indent: -9999px;
        width: 100px;
        height: 60px;
        background: url('../images/logo.svg') no-repeat top left;
        background-size: 500px 100px;
        background-position: 0 -20px;   
    }
}
.social-icons {
      text-align: center;
      margin: 1.3em 0 0 0;
       font-size: 1.5em; 

    .tooltip {
        font-size: 1.2rem;
    }
    a {
       display: inline-block;
       list-style: none;
       margin: 0 0.2em;

        &.icon:last-child .tooltip {
            margin-left: -5.5em;
        }
        &.icon:first-child .tooltip {
            margin-left: -2em;
        }
    } //a
            
} //social-icons

.author-image {

    margin-right: 1rem;
    border: 1px solid $gray;
    border-radius: 0.3em;

    img {
        width: 90px;
        height: auto;
    }
}

.site-head {    

    h1, h4 {
        margin: 0;
    }
    a {
        color: $lightGray;
    }
    h1 {
        text-align: center;
        line-height: 1.1em;
    }
    .blog-description {
        line-height: 1.6em; 
        color: $lightGray;   
        text-align: center;
        margin-top: 0.8em;
        a {
            border-bottom: 1px dotted $lightGray;
        }
    } //blog-description
    a:hover {
            color: $link-hover-color;
    }
    .blog-logo {
        text-align: center;
        margin: 1em 0;
    }
    .blog-title {
        font-size: 3rem;
    }
} //.site-head

.site-head-content {

    .desktop {
        position: fixed;
        top: 4rem;
        //background: linear-gradient(to bottom, rgba(red($black),green($black),blue($black),0.8) 0%, rgba(red($black),green($black),blue($black),0.8) 100%);
        padding: 0 4em;
        max-height: 20rem;
    
    } //desktop

    .mobi {
        //background: linear-gradient(to bottom, rgba(red($black),green($black),blue($black),0.6) 0%, rgba(red($black),green($black),blue($black),0.6) 100%);
        margin: 2rem 0 1rem 0;
        padding: 1em;
        text-align: center;
    }
} //.site-head-content

.site-content, .site-wrapper {
    min-height: 99%;   
}

.site-content {
    //background: linear-gradient(to bottom, rgba(red($white),green($white),blue($white),0.5) 0%, rgba(red($white),green($white),blue($white),0.5) 100%);
    margin-top: 0.8rem;
    background: $white;
}

/* Every post, on every page, gets this style on its <article> tag */
.post, #disqus_thread {
    margin: 4rem auto;
    padding: 1rem 3rem;
    word-break: break-word;
    hyphens: auto;
    @extend .large-8;
}

h1.post-title, h2.post-title {
    margin:0;
    font-size: 4rem;
}

.post-content {
    a {
        text-decoration: underline;
    }

} //.post-content

.post-excerpt {

        margin-top: 1.6rem;

    .continue {
        border-bottom: 1px dashed $lightGray;
        font-size: 1.1rem;
        display: inline-block;
        text-align: right;
        width: 100%;
    }
} //.post-excerpt 

.post-meta {
    display: inline-block;
    margin: 5px 0;
    font-size: 1rem;
    color: $gray;
}
.post-footer {
    margin-top: 1.8rem;
}

.comments {
    border-top: 1px solid $lightGray;
    margin-top: 3em;
}
.label-tag {

    @include label($padding: 0.5rem, $text-size:1rem, $bg: $lightGray, $radius: 0px);

    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-left: 0.5rem;
    transition: background-color 0.2s ease;

    a, a:visited {
        color: $mildGray;
        font-weight: bold;

    }
    &:hover {
        background-color: $link-hover-color;

        a {
            color: $white;
        }

    }
    a:hover {
        color: $white;
        text-decoration: none;
    }

} //.label-tag

.footer-jump {
    position: fixed;
    z-index: 999;
    bottom: 5%;
    right: 2%;

    a {
        color: $black;
        opacity: 0.4;
        border-radius: 0.2em;
        font-size: 1rem;
    
        &:hover {
            opacity: 1;
        }
    }
}
//to hide AddThis smartlayer behind the footer
div#at4-share {
    z-index: 997;
}

.tab-bar {
    height: 3rem;
    line-height: 3rem;
}
.right-small {
    border-left: none;
}

ul.off-canvas-list {
    text-align: center;
    li {
        font-size: 1.3rem;
        label {
            background: none;
            color: $white;
        }
    }
} //ul.off-canvas-list
    

/* ==========================================================================
   6. Tag archive
   ========================================================================== */

.tag-archive-header {
    padding: 10px 0;
    text-align: center;
    margin: 4rem auto;
    text-transform: uppercase;
    
    h3 {
        color: $darkGray;
    }
} //.tag-archive-header

/* ==========================================================================
   7. Third Party Elements - Embeds from other services
   ========================================================================== */

/* Github */

.gist table {
    margin: 0;
    font-size: 1.4rem;
}

.gist .line-number {
    min-width: 25px;
    font-size: 1.1rem;
}


/* ==========================================================================
   8. Pagination - Tools to let you flick between pages
   ========================================================================== */
   
.site-pagination {
    margin-right: 1rem; 
}

ul.pagination {
    li {
        transition: background-color 0.2s ease;
        a:hover {
            color: $white;
        }
        &.pages {
            padding: rem-calc(1 0 1 0);
        }
    }
}


/* ==========================================================================
   9. Footer - The bottom of every page
   ========================================================================== */

.site-footer {

        background: $site-footer-background;
        min-height: 250px;
        max-width: 100%;
        z-index: 998;
        padding-top: 1em;

        footer {
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.7em;
        color: #eee;
        text-align: left;
        padding: 4rem 0;
        
     &:before {
            @include stripe_border();

            $stops: 10%, 18%, 29%, 34%, 55%, 73%, 85%, 100%;
            background-image: create_stripes($stripe-base-color, $stops, to right);
        }
    } //footer

   
} //.site-footer

.site-footer a {
    color: lighten($link-hover-color, 20%);
}

.site-footer a:hover {
    color:$link-hover-color;
}

.poweredby {

    .icon-ghost {
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
        &:before {
            font-size: 1rem;
            margin-right: 0.2em;
        }

    } //.icon-ghost

} //.poweredby

.disclaimer {
    text-align: center;
    margin-top: 4em;
}


//media queries

/* 641px, 1024px */
@media #{$medium-only} { 
    .post {
        margin: 0 0 1em 0;
    }
} //media queries medium-only

/* 0, 640px */
@media #{$small-only} { 
    p, dl, ol, ul {
        font-size: 1.5rem;
        line-height: 1.55;
    }
    .post {
        margin: 0 0 10px 0;
        padding: 3rem;
        border-radius: 0;
        border-bottom: 0; 
    }

    h1.post-title, h2.post-title {  
        font-size: 2.5rem;
    }
    .footer-jump {
        display: none;
    }
} //media queries small-only 